Production in NPT w/ restraints, %W% windows, 1 ns
 &cntrl
  imin   = 0,
  nstlim = 500000,
  nscm   = 0, t= 0.0, dt = 0.002,

  ntx    = 5,        irest  = 1,       ntxo   = 2,
  ntpr   = 1000,    ntwx   = 5000,    ntave  = 50000,
  ioutfm = 1, iwrap = 0, ntwr = 50000,
  ntwprt = %NATOM%,

  ntb    = 2,

  ntp    = 1,
  pres0  = 1.0, comp = 44.6,
  taup   = 1.0,
  barostat = 2,

  ntt    = 3,
  temp0  = 300.0,
  ig     = -1,
  tautp  = 0.2,
  gamma_ln = 1.0,

  ! ntc    = 2,       tol    = 0.00001,    ntf    = 2,
  ! softcore potentials require ntf=1
  ntc    = 2,       tol    = 0.00001,    ntf    = 1,
  cut    = 10.0,     nsnb   = 10,

  ntr    = 0,
  nmropt = 1,

  icfe   = 1,
  ifsc   = 1,
  ifmbar = 1,
  clambda= %L%,
!  dynlmb = 0.05,
  klambda= 1,
  timask1= ':%LIG%',
  timask2= '',
  scmask1= ':%LIG%',
  scmask2= '',
  scalpha = 0.5,
  scbeta  = 12.0,
  mbar_states = %W%,
  mbar_lambda = %MBAR%
 /
!&wt type='REST', value1=1.0, /
&wt type='END' /
LISTOUT=POUT
DISANG=RST.all
